section.promo_slider{
    width: 100%;
    background-color: transparent;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.promo_slider h2{
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    color: #494A4A;
    margin-bottom: 48px;
}
section.promo_slider .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.promo_slides{
    position: relative;
    display: flex;
    width: 100%;
    height: 401px;
    overflow: hidden;
    margin-bottom: 25px;
}
.promo_slide{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    padding: 40px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 1s linear;
}
.promo_slide.picture_left{
    flex-direction: row-reverse;
}
.promo_slide.active{
    z-index: 2;
    opacity: 1;
    transition: opacity 1s linear;
}
.promo_slide_content {
    width: 580px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.promo_slide_content h3{
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    margin-bottom: 12px;
}
.promo_slide_prices{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}
.promo_slide_prices .promo_price{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 7px 20px;
    margin-right: 10px;
    background-color: #0DA8AD;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
}
.promo_slide_prices .old_price{
    font-size: 24px;
    line-height: 42px;
    font-weight: 400;
    color: #494A4A;
    background-color: transparent;
}
.promo_slide_text{
    display: flex;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #494A4A;
    flex-grow: 1;
}
.promo_slide_button{
    display: flex;
    width: fit-content;
    flex-grow: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px 58px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #205972;
    border: solid 1px #205972;
    background-color: transparent;
    border-radius: 4px;
}
.picture_left .promo_slide_button{
    align-self: flex-end;
}

.promo_slide_image{
    width: 500px;
    height: 321px;
}
.promo_slide_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}



.slider_dots{
    display: flex;
    justify-content: center;
    height: 16px;
    width: 100%;
}
.slider_dots span{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #B4DFE2;
    cursor: pointer;
}
 .slider_dots span.active{
    background-color: #15C0C6;
 }
.slider_dots span:not(:last-child){
    margin-right: 16px;
}

@media screen and (max-width: 500px) {
    section.promo_slider{
        padding: 20px 10px;
        height: fit-content;
    }
    section.promo_slider h2{
        font-size: 36px;
        line-height: 43px;
        font-weight: 400;
        margin-bottom: 24px;
    }
    .promo_slides{
        min-height: 600px;
    }
    .promo_slides .promo_slide{
        flex-direction: column-reverse;
        padding: 24px 20px;
    }
    .promo_slide_content, .promo_slide_image{
        width: 100%;
    }
    .promo_slide_text{
        margin-bottom: 20px;
    }
    .promo_slide_image{
        margin-bottom: 24px;
    }
    .promo_slide_image img{
        min-height: 200px;
        width: 100%;
        flex-shrink: 0;
    }
    .promo_slide .promo_slide_button {
        align-self: center;
    }

}