.laser-inf{
    width: 100%;
    background: #fff;
    padding-top: 72px;
    padding-bottom: 57px;
    p{
        line-height: 28px;
        font-weight: 500;
    }
}


@media screen and (max-width: 1500px){
    .laser-inf{

        p{

        }
    }

}
@media screen and (max-width: 1250px){
    .laser-inf{

        p{

        }
    }

}
@media screen and (max-width: 1050px){


}
@media screen and (max-width: 993px){
    .laser-inf{
        padding-top: 50px;
        padding-bottom: 40px;
        p{

        }
    }

}

@media screen and (max-width: 767px){
    .laser-inf{
        padding: 34px 0 26px;
        p{
            line-height: 18px;
        }
    }


}

@media screen and (max-width: 550px){
    .laser-inf{

        p{

        }
    }


}

@media screen and (max-width: 500px){


}

@media screen and (max-width: 440px){


}

@media screen and (max-width: 430px) {


}

@media screen and (max-width: 400px){



}

@media screen and (max-width: 320px){


}