.about-service-page{
    padding: 0 0 20px;
    .b-device{
        padding-top: 50px;
    }
    .b-device-item {
        margin-bottom: 20px;
    }
    .b-device-item__h3 {
        margin-bottom: 26px;
    }
}


@media screen and (max-width: 1500px){
    .about-service-page{

        .b-device{
            padding-top: 20px;
        }
        .b-device-item {

        }
        .b-device-item__h3 {

        }
    }

}
@media screen and (max-width: 1250px){
    .about-service-page{

        .b-device{

        }
        .b-device-item {

        }
        .b-device-item__h3 {

        }
    }


}
@media screen and (max-width: 1050px){


}
@media screen and (max-width: 993px){
    .about-service-page{

        .b-device{

        }
        .b-device-item {

        }
        .b-device-item__h3 {

        }
    }

}

@media screen and (max-width: 767px){
    .about-service-page{

        .b-device{
            padding-top: 0;
        }
        .b-device-item {

        }
        .b-device-item__h3 {

        }
    }


}

@media screen and (max-width: 550px){
    .about-service-page{

        .b-device{

        }
        .b-device-item {

        }
        .b-device-item__h3 {

        }
    }


}

@media screen and (max-width: 500px){


}

@media screen and (max-width: 440px){


}

@media screen and (max-width: 430px) {


}

@media screen and (max-width: 400px){



}

@media screen and (max-width: 320px){


}