.about-gallary{
    width: 100%;
    padding-top: 117px;
    .main-gallary__h2{
        text-align: center;
        margin-top: 0;
        margin-bottom: 44px;
    }
    .main-gallary__c{

    }
}


@media screen and (max-width: 1500px){
    .about-gallary{
        padding-top: 80px;
        .main-gallary__h2{

        }
        .main-gallary__c{

        }
    }

}
@media screen and (max-width: 1250px){
    .about-gallary{

        .main-gallary__h2{

        }
        .main-gallary__c{

        }
    }

}
@media screen and (max-width: 1050px){


}
@media screen and (max-width: 993px){
    .about-gallary{

        .main-gallary__h2{

        }
        .main-gallary__c{

        }
    }

}

@media screen and (max-width: 767px){
    .about-gallary{
        padding-top: 54px;
        .main-gallary__h2{
            margin-bottom: 24px;
        }
        .main-gallary__c{

        }
    }


}

@media screen and (max-width: 550px){
    .about-gallary{

        .main-gallary__h2{

        }
        .main-gallary__c{

        }
    }


}

@media screen and (max-width: 500px){


}

@media screen and (max-width: 440px){


}

@media screen and (max-width: 430px) {


}

@media screen and (max-width: 400px){



}

@media screen and (max-width: 320px){


}