.big-map{
    width: 100%;
    height: 560px;
}


@media screen and (max-width: 1500px){


}
@media screen and (max-width: 1250px){
    .big-map{
        height: 400px;
    }

}
@media screen and (max-width: 1050px){


}
@media screen and (max-width: 993px){
    .big-map{

    }

}

@media screen and (max-width: 767px){
    .big-map{

    }


}

@media screen and (max-width: 550px){
    .big-map{

    }


}

@media screen and (max-width: 500px){


}

@media screen and (max-width: 440px){


}

@media screen and (max-width: 430px) {


}

@media screen and (max-width: 400px){



}

@media screen and (max-width: 320px){


}